
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Chat app</title>

    {% load static %} 
    <!-- Font Icon --> 
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Main css -->    
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    
    <div class="main">
        {% if user.is_authenticated %}
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div>
                    <p style="text-align: center;">Video calling website with Django and the Agora Video Web SDK</p>
                </div>
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Lets Connect</h2>
                        
                        <form method="POST" class="register-form" id="form">{% csrf_token %}
                            <div class="form-group">
                                <label for="room"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="room" id="room" placeholder="Room Name" style="text-transform:uppercase" required/>
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account"></i></label>
                                <input type="text" name="username" id="username" placeholder="User name" value = "{{name}}" style="text-transform:uppercase" required/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="join" id="join" value="Join" class="form-submit"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/chat-icon.png'%}" alt="sing up image"></figure>
                        <a href="/logout" class="signup-image-link">Logout</a>
                    </div>
                    
                </div>
            </div>
        </section>
        {% else %}
        <h1 style="text-align: center; color:red">Please Login !</h1>
        <a style="text-align: center;" href="/signin" class="signup-image-link">Sign in</a>
    </div>
        {% endif %}
    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    
    <script>
        let form = document.getElementById('form')

        let handleSubmit =async(e) =>{
            e.preventDefault()
            let room = e.target.room.value.toUpperCase()
            let name = e.target.username.value.toUpperCase()
            
            let response = await fetch(`/get_token/?channel=${room}`)
            let data = await response.json()

            let UID = data.uid 
            let token = data.token 

            sessionStorage.setItem('UID',UID)
            sessionStorage.setItem('token',token)
            sessionStorage.setItem('room',room)
            sessionStorage.setItem('name',name)
            window.open('/room/','_self')
        }

        form.addEventListener('submit',handleSubmit)
    </script>
</body>
</html>

